Repository colevoss/result-ts, changes with the labels that .github/labeler.yaml gives for each.
All labels: feature, ops

.github/labeler.yaml:

feature: 'src/**/*.ts'
ops: '.github/**/*'

init
  src/index.ts
Labels: feature

some oop and tests
  examples/index.ts
  package.json
  src/fn/expect.ts
  src/fn/index.ts
  src/fn/match.ts
  src/fn/result.ts
  src/fn/unwrap.ts
  src/fn/wrap.ts
  src/index.ts
  src/oop/index.ts
  src/oop/option.ts
  src/oop/result.ts
  src/oop/types.ts
  test/fn/match.test.ts
  test/fn/result.test.ts
  test/fn/unwrap.test.ts
  test/fn/wrap.test.ts
Labels: feature

literally so much
  .dockerignore
  .gitignore
  .husky/.gitignore
  .husky/pre-commit
  .npmignore
  .vscode/launch.json
  Dockerfile
  LICENSE
  README.md
  docker-compose.yaml
  examples/index.ts
  jest.config.js
  nodemon.json
  package-lock.json
  package.json
  scripts/prepare.js
  src/index.ts
  src/oop/option.ts
  src/oop/result.ts
  test/oop/option.test.ts
  test/oop/result.test.ts
  tsconfig.json
Labels: feature

workflow setup
  .github/_workflows/merge-main.yaml
  .github/_workflows/pr.yaml
  .github/workflows/pr.yaml
  package.json
  src/fn/expect.ts
  src/fn/index.ts
  src/fn/match.ts
  src/fn/result.ts
  src/fn/unwrap.ts
  src/fn/wrap.ts
  src/index.ts
  src/oop/index.ts
  src/oop/types.ts
  src/option.ts
  src/result.ts
  src/types.ts
  test/fn/match.test.ts
  test/fn/result.test.ts
  test/fn/unwrap.test.ts
  test/fn/wrap.test.ts
  test/index.test.ts
  test/option.test.ts
  test/result.test.ts
Labels: feature, ops

fix workflow
  .github/workflows/pr.yaml
Labels: ops

lint test
  src/option.ts
Labels: feature

fix lint thing
  src/option.ts
Labels: feature

workflow setup (#1)
  .github/_workflows/merge-main.yaml
  .github/_workflows/pr.yaml
  .github/workflows/pr.yaml
  package.json
  src/fn/expect.ts
  src/fn/index.ts
  src/fn/match.ts
  src/fn/result.ts
  src/fn/unwrap.ts
  src/fn/wrap.ts
  src/index.ts
  src/oop/index.ts
  src/oop/types.ts
  src/option.ts
  src/result.ts
  src/types.ts
  test/fn/match.test.ts
  test/fn/result.test.ts
  test/fn/unwrap.test.ts
  test/fn/wrap.test.ts
  test/index.test.ts
  test/option.test.ts
  test/result.test.ts
Labels: feature, ops

start refactor
  examples/index.ts
  package-lock.json
  package.json
  src/error.ts
  src/index.ts
  src/option.ts
  src/result.ts
  src/types.ts
  test/option.test.ts
  test/result.test.ts
Labels: feature

abstract classes
  src/option.ts
  src/result.ts
  src/types.ts
  test/result.test.ts
  tsconfig.json
Labels: feature

Refactor abstract (#2)
  examples/index.ts
  package-lock.json
  package.json
  src/error.ts
  src/index.ts
  src/option.ts
  src/result.ts
  src/types.ts
  test/option.test.ts
  test/result.test.ts
  tsconfig.json
Labels: feature

new things
  examples/index.ts
  src/error.ts
  src/index.ts
  src/option.ts
  src/result.ts
  test/option.test.ts
  test/result.test.ts
Labels: feature

result type refactor
  examples/index.ts
  src/index.ts
  src/option.ts
  src/result.ts
  test/result.test.ts
Labels: feature

so many things and docs
  README.md
  examples/index.ts
  src/index.ts
  src/option.ts
  src/option/index.ts
  src/option/none.ts
  src/option/option.ts
  src/option/some.ts
  src/result.ts
  src/result/err.ts
  src/result/index.ts
  src/result/ok.ts
  src/result/result.ts
  test/option.test.ts
  test/option/none.test.ts
  test/option/option.test.ts
  test/option/some.test.ts
  test/result.test.ts
  test/result/err.test.ts
  test/result/ok.test.ts
  test/result/result.test.ts
Labels: feature

fix readme
  README.md
Labels: none

add tests for new fns
  test/option/none.test.ts
  test/option/some.test.ts
  test/result/err.test.ts
  test/result/ok.test.ts
Labels: none

some testing
  examples/index.ts
  src/index.ts
  src/result/index.ts
  src/result/ok.ts
  src/result/result.ts
Labels: feature

Feature/many new things (#3)
  README.md
  examples/index.ts
  src/error.ts
  src/index.ts
  src/option.ts
  src/option/index.ts
  src/option/none.ts
  src/option/option.ts
  src/option/some.ts
  src/result.ts
  src/result/err.ts
  src/result/index.ts
  src/result/ok.ts
  src/result/result.ts
  test/option.test.ts
  test/option/none.test.ts
  test/option/option.test.ts
  test/option/some.test.ts
  test/result.test.ts
  test/result/err.test.ts
  test/result/ok.test.ts
  test/result/result.test.ts
Labels: feature

add logging
  examples/index.ts
  src/index.ts
  src/option/index.ts
  src/option/none.ts
  src/option/option.ts
  src/option/some.ts
  src/result/err.ts
  src/result/index.ts
  src/result/ok.ts
  src/result/result.ts
  test/option/option.test.ts
  test/result/result.test.ts
Labels: feature

improve log labels kind of
  examples/index.ts
  src/result/err.ts
  src/result/ok.ts
  src/result/result.ts
Labels: feature

start logging refactor
  examples/index.ts
  src/result/err.ts
  src/result/logging.ts
  src/result/ok.ts
  src/result/result.ts
Labels: feature

publish prep
  package-lock.json
  package.json
Labels: none

add logging (#4)
  examples/index.ts
  package-lock.json
  package.json
  src/index.ts
  src/option/index.ts
  src/option/none.ts
  src/option/option.ts
  src/option/some.ts
  src/result/err.ts
  src/result/index.ts
  src/result/logging.ts
  src/result/ok.ts
  src/result/result.ts
  test/option/option.test.ts
  test/result/result.test.ts
Labels: feature

0.0.2
  package-lock.json
  package.json
Labels: none

0.0.2 (#5)
  package-lock.json
  package.json
Labels: none

Use logger interface
  examples/index.ts
  package-lock.json
  package.json
  src/logger.ts
  src/result/err.ts
  src/result/logging.ts
  src/result/ok.ts
  src/result/result.ts
Labels: feature

some logging
  examples/index.ts
  package-lock.json
  package.json
  src/logger.ts
  src/result/err.ts
  src/result/logging.ts
  src/result/ok.ts
  src/result/result.ts
Labels: feature

better type support
  examples/err.ts
  examples/index.ts
  package-lock.json
  package.json
  src/http-errors/index.ts
  src/option/none.ts
  src/option/option.ts
  src/option/some.ts
  src/result/err.ts
  src/result/ok.ts
  src/result/result.ts
  test/option/none.test.ts
  test/result/err.test.ts
  test/result/ok.test.ts
Labels: feature

some clean up
  examples/index.ts
  src/result/err.ts
  src/result/ok.ts
  src/result/result.ts
Labels: feature

more clean up
  examples/index.ts
  src/result/result.ts
Labels: feature

clean up and tests
  examples/err.ts
  examples/index.ts
  src/http-errors/index.ts
  src/index.ts
  src/option/index.ts
  src/option/none.ts
  src/option/option.ts
  src/option/some.ts
  src/result/err.ts
  src/result/index.ts
  src/result/ok.ts
  src/result/result.ts
  test/option/none.test.ts
  test/option/some.test.ts
  test/result/err.test.ts
  test/result/result.test.ts
Labels: feature

update result docs
  README.md
  examples/index.ts
  package-lock.json
  package.json
  src/result/result.ts
Labels: feature

added match docs
  README.md
  examples/index.ts
  src/result/result.ts
Labels: feature
